<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogAPP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <div class="fixed">
        <div class="navParent">
            <a href="/" id="title" class="navItem">Blog Application</a>
            <ul class="nav">
                <li><button class="navToggle hidden"><img src="./images/list.svg" alt="Menu icon"></button></li>
                <li><a href="/" class="navItem h">Home</a></li>
                <li><a href="/about" class="navItem h">About</a></li> 
                <li><a href="/faq" class="navItem h">FAQ</a></li>
                <li><a href="/contact" class="navItem h">Contact</a></li>
            </ul>
        </div>
    </div>
    
    <div id="content">
