<%- include("./partials/header.ejs") %>

<div>
    <img class="profilePic" src="./images/ProfilePicture.jpeg" alt="A picture of myself">
    <h1>About</h1>
    <p>Hi, my name is Lucas, I am a web developer with a game development background, programming is a passion, not the greatest artist but I do my best! you can check more of my work on my 
        <a href="https://github.com/NakazatoJL" target="_blank">github</a> or you can visit this static page of my <a href="https://nakazatojl.github.io/personal-website/" target="_blank">portfolio</a>.</p>
</div>

<%- include("./partials/footer.ejs") %>