<%- include("./partials/header.ejs") %>

<h1>Contact</h1>
<p>You can contact me through my email: <br><a href="mailto:nakazatojl@gmail.com">nakazatojl@gmail.com</a></p>

<%- include("./partials/footer.ejs") %>